{% extends "OCCoreBundle::layout.html.twig" %}

{% block title %}
Accueill - {{ parent() }}
{%  endblock %}

{% block body %}

<h2>Liste des annonces</h2>

{% for message in app.session.FlashBag.get('notice')  %}
<div class="alert alert-info" role="alert">Message flash :  {{ message }}</div>
{% endfor %}
 <ul>
   {% for advert in listAdverts %}
     <li>
       <a href="{{ path('oc_platform_view', {'id': advert.id}) }}">
         {{ advert.title }}
       </a>
       par {{ advert.author }},
       le {{ advert.date|date('d/m/Y') }}
     </li>
   {% else %}
     <li>Pas (encore !) d'annonces</li>
   {% endfor %}
 </ul>
 {% endblock %}
